* {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
.slds-box.slds-theme_default {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
.slds-box.slds-theme_default .title:hover {
    color: #333;
    background-color: #e6e6e6;
}
.name {
    font-size: 20px;
    color: black;
}
.phone {
    font-size: 20px;
    color: gray;
}
.email {
    font-size: 20px;
    color: gray;
}


 

.title:hover {
    font-size: 20px;
    color: rgb(35, 216, 126);
}



.summary {
    font-size: 20px;
    color: gray;
    
}
.skill {
    font-size: 20px;
    color: gray;
}
.experience {
    font-size: 20px;
    color: gray;
}
.education {

    font-size: 20px;
   color: gray;
}
.certifications {
    font-size: 20px;
    color: gray;
}
.languages {
    font-size: 20px;
    color: gray;
}
.certifications
    {
        font-size: 20px;
        color: gray;
    }
    .languages
    {
        font-size: 20px;
        color: gray;
    }